.ucf-news.modern {

  .ucf-news-item {
    clear: left;
    margin-bottom: 20px;
    margin-left: -15px;
    padding: 15px;

    &:hover {
      background: $gray-lighter;
      text-decoration: none !important;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .ucf-news-thumbnail {
    display: inline-block;
    margin-right: 1%;
    max-height: 150px;
    max-width: 150px;
    vertical-align: top;
    width: 25%;

    .ucf-news-thumbnail-image {
      height: auto;
      max-width: 100%;
    }
  }

  .ucf-news-item-content {
    display: inline-block;
    width: 74%;
  }

  .ucf-news-section-title {
    background: $ucf-gold;
    color: $black;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 2px 14px;
  }

  .ucf-news-item-title {
    color: $black;
    font-weight: 700;
  }

  .ucf-news-item-excerpt {
    color: $black;
    margin-bottom: 0;
  }
}
